.analyst{
    .analyst-title{
        h3{
            color: #909090;
            font-weight: bold;
            font-size: 28px;
        }
        h4{
            color: #909090;
        }
    }
    .table{
        th{
            color: #909090;
            font-weight: bold;
        }
        td{
            color: #909090;
        }
    }
    .legales{
        color: #909090;
        font-size: 12px;
    }

}
