.agenda{
    .info{
        h3{
            color: #005838;
        }
        p{
            color: #909090;
            padding: 15px 0;
            i{
                color: #005838;
                font-size: 5px;
            }
        }
    }
    .metings{
        h2{
            color: #5b5b5c;
        }
        .annual{
          a{
            width: 100%;
            background-color: #2d9067;
            display: block;
            color: #fff;
            text-decoration: none;
            padding: 10px;
            font-size: 18px;
            i{
                padding-right: 5px;
                color: #909090;
            }
            &:hover{
                transition: all ease .2s;
                background-color: #005838;
            }
          }
        }
    }
}


@media only screen and (max-width:768px){
    .info{
        h3{
            font-size: 12px;
        }

    }
    .metings{
        h2{
            font-size: 12px;
        }
        a{
            font-size: 10px;
        }
       
    }
}