.mapa{
    .paises{
        background-color: #242524;
        display: flex;
        justify-content: space-between;
        h4{
            font-weight: bold;
        }
        ul{
            display: flex;
            list-style: none;
            li{
            padding-left: 5px;
            a{
                &:hover{
                    text-decoration: none;
                    background-color: #999;
                    color: #ffffff;
                }
            }
            }
        }
    }
}
.bajada{
  display: flex;
  justify-content: space-between;
    .assets-data{
        div{
            display: flex;
            align-items: center;
            img{
                width: 70px;
            }
            p{
                padding: 0 10px;
            }
            a{
                background-color: #343a40;
                color: #ffffff;
                padding: 10px;
                font-size: 14px;
                i{
                    padding-left: 7px;
                }
                &:hover{
                    text-decoration: none;
                   background-color: #000;
                   transition: background-color .2s ease;
                }
            }
        }
    }
    .img-logo{
        display: flex;
        justify-content: space-between;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 20px;
            img{
                width: 40px;
            }
        }
    }
}
@media only screen and (max-width:768px){
    .bajada{
     flex-direction: column;
     .img-logo{
         flex-wrap: wrap;
     }
}
}