.business{
    display: flex;
    justify-content: space-between;
    a{
        color: #ffffff;
        text-decoration: none;
        img{
          width: 95%;
          height: 80%;
          &:hover{
            filter: brightness(50%);
          }
        }
        &:hover{
            .milk{
                img{
                    display: none;
                    transition: all .2s ease;
                }
                span{
             
                  display: block;
                  transition: display .2s ease;
                }
              
              }
            .rice{
                img{
                    display: none;
                    transition: all .2s ease;
                }
                span{
             
                  display: block;
                  transition: display .2s ease;
                }
              
              }
            .land{
                img{
                    display: none;
                    transition: all .2s ease;
                }
                span{
             
                  display: block;
                  transition: display .2s ease;
                }
              
              }
            .grains{
                img{
                    display: none;
                    transition: all .2s ease;
                }
                span{
             
                  display: block;
                  transition: display .2s ease;
                }
              
              }
            .sugar{
                img{
                    display: none;
                    transition: all .2s ease;
                }
                span{
             
                  display: block;
                  transition: display .2s ease;
                }
              
              }
        }
        .milk{
          background-color: #259fd9;
          width: 95%;
          height: 80px;
          border-radius:  0 0 50px 0;
          img{
              width: 60px;
              margin-left: 70px;
              transition: all .2s ease;
          }
          span{
            text-align: center;
            padding: 15px;
            font-size: 17px;
            display: none;
            transition: display .2s ease;
          }
        
        }
        .rice{
          background-color: #3cb54a;
          width: 95%;
          height: 80px;
          border-radius:  0 0 50px 0;
          img{
              width: 60px;
              margin-left: 70px;
              transition: all .2s ease;
          }
          span{
            text-align: center;
            padding: 15px;
            font-size: 17px;
            display: none;
            transition: display .2s ease;
          }
        
        }
        .land{
          background-color: #c83e27;
          width: 95%;
          height: 80px;
          border-radius:  0 0 50px 0;
          img{
              width: 60px;
              margin-left: 70px;
              transition: all .2s ease;
          }
          span{
            text-align: center;
            padding: 15px;
            font-size: 17px;
            display: none;
            transition: display .2s ease;
          }
        
        }
        .grains{
          background-color: #d3932b;
          width: 95%;
          height: 80px;
          border-radius:  0 0 50px 0;
          img{
              width: 60px;
              margin-left: 70px;
              transition: all .2s ease;
          }
          span{
            text-align: center;
            padding: 15px;
            font-size: 17px;
            display: none;
            transition: display .2s ease;
          }
        
        }
        .sugar{
          background-color: #b0633b;
          width: 95%;
          height: 80px;
          border-radius:  0 0 50px 0;
          img{
              width: 60px;
              margin-left: 70px;
              transition: all .2s ease;
          }
          span{
            text-align: center;
            padding: 15px;
            font-size: 17px;
            display: none;
            transition: display .2s ease;
          }
        
        }
    }
    
}