.bylaws{
    h2,h3,h4{
        color: #005838;
        font-weight: 500;
        margin-top: 30px;
    }
    i{
        color: #005838;
        padding-right: 5px;
    }
    p{
        color:#909090;
        margin-top: 15px;
    }
}