/**
 * jQuery  Bootstrap year calendar 1.0.0
 * Copyright 2018, Allset
 * Licensed under the MIT license.

 * @author Piotr Zatorski
 */
 .jqyc {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.jqyc-months .table td, .jqyc-months .table th {
    border-top: 0px;
    text-align: center;
}

.jqyc-not-empty-td:hover {
    cursor: pointer;
    background-color: #8ec549;
    color: #FFF;
    border-radius: 0.25rem;
}

.jqyc-not-empty-td:hover .text-danger {
    color: #FFF !important;
}

.jqyc-year-chooser .jqyc-year {
    text-align: center;
}

.jqyc-year-chooser {
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.jqyc-appended{
    background-color: #005838;
    color: #ffffff;
}

.jqyc-start-day-of-month {
    background-color: #005838;
    color: #FFF;
    border-radius: 0.25rem;
}

.jqyc-end-day-of-month {
    background-color: #005838;
    color: #FFF;
    border-radius: 0.25rem;
}


.jqyc-range-choosen-between{
    background-color: #005838;
    color: #FFF;
    border-radius: 0.25rem;
}
.btn-primary{
    background-color: #005838;
    outline: none;
    border: none;
    &:hover{
        background-color: #8ec549;
        transition: all .2s ease;
    }
}
.modal-body{
    font-weight: bold;
    text-transform: capitalize;
}