.contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    .form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        h2{
            font-size: 40px;
            font-weight: bold;
        }
        input{
            outline: none;
            width: 400px;
            border: none;
            background-color: transparent;
            border-bottom: 1px solid #909090;
        }
        label{
            color: #909090;
            font-size: 20px;
            margin-top: 15px;
            font-weight: bold;
            padding: 15px 0;
        }
        textarea{
            outline: none;
            width: 400px;
            height: 100px;
            resize: none;
            border: none;
            background-color: transparent;
            border-bottom: 1px solid #909090;
        }
        .btn{
            color: #ffffff;
            background-color: #8ec549;
            border-radius: 0;
            width: 150px;
            font-size: 18px;
            padding: 15px;
            margin: 10px 0;
            &:hover{
                color: #000;
            }
        }
        
    }
    .contact{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 16px;
    } 
}
.none{
    display: none;
}
@media only screen and (max-width:768px){
    .contacto{
        grid-template-columns: 1fr;
        gap: 50px;
        .form{
   
            input{
                width: 200px;
            }
            label{
                font-size: 15px;
            }
            textarea{
                width: 200px;
            }      
        }
    }
}