.img-directors{
    height: 60vh;
    div{
        height: 60vh;
         h2{
            color: #ffffff;
            font-weight: bold;
            position: relative;
            bottom: -80%;
            font-size: 35px;
        }
    }
}
.directors{
    h3{color: #005838;}
    p{color: #909090;
    
    i{
        color:#005838 ;
        font-size: 7px;
        padding-right: 5px;
    }}
}