.education{
    .dataEducation{
        display: flex;
        align-items: flex-start;
        border-bottom: 1px solid #000;
        padding: 10px 0;
        .data-img{
            img{
                width: 250px;
            }
        }
        .data-info{
            margin-left: 20px;
            h3{
                font-weight: bold;
            }
            a{
                color: #69af58;
                display: flex;
                flex-direction: column;
                &:hover{
                    text-decoration: none;
                }
                img{
                    width: 30px;
                }
            }
           
        }
    }
}
@media only screen and (max-width:768px){
    .education{
        .dataEducation{
            flex-direction: column;
            .data-img{
                img{
                    width: 1u50px;
                }
            }
            .data-info{
                margin-left: 0px;
                h3{
                   margin-top: 10px;
                    font-size: 18px;
                }
                p{
                    font-size: 14px;
                }
               
            }
        }
    }
}