.ethics{
    p{
        color: #909090;
        margin: 30px 0;
    }
    i{
       color: #005838; 
       padding-right: 5px;
    }
    h4{
        color: #005838; 
    }
    .fa-circle{
        font-size: 6px;
    }
}