.eventos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    .feed{
        height: 300px;
        overflow-y: scroll;
    }
    .calendar{
        width: 80%;
        height: 200px;
        background-color: #005838;
        margin: 0 10px;
        padding: 15px;
        h3{
            color: #fff;
            font-weight: bold;
            width: 20%;
            padding-bottom: 15px;
        } 
        a{
            color: #8ec549;
            font-size: 20px;
            &:hover{
                color: #fff;
                text-decoration: none;
                i{
                    color: #fff;
                }
            }
            i{
                color: #8ec549;
                font-size: 20px;
            }
        }
    }
    .newsroom{
        overflow-y: scroll;
        h2{
            font-weight: bold;
        }
        a{
            &:hover{
                text-decoration: none;
            }
        }
        i{
            color: #8ec549;
        }
        span{
            color: #5b5b5c;
            font-weight: bold;
            font-size: 16px;
        }
        p{
            color: #5b5b5c;
            font-size: 16px;
            margin-bottom: 15px;
        }
    }
}
@media only screen and (max-width:768px){
    .eventos{
        grid-template-columns: 1fr;
      
    }
}