.footer{
    background-color: #212221;
    height: 70vh;
    color: #c1c1c1;
    a{
        text-decoration: none;
        color: #c1c1c1;
        &:hover{
            background-color: #999;
            color: #ffffff;
        }
    }
    .privacy{
        display: flex;
        .legal{
            margin-left: 30px;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 20px 0;
            h3{
                font-weight: bold;
            }
        }
    }
    .copy{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media only screen and (max-width:768px){
    .footer{
        background-color: #212221;
        height: 70vh;
        color: #c1c1c1;
        a{
            text-decoration: none;
            color: #c1c1c1;
        }
        .privacy{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .legal{
                margin-left: 0px;
            }
        }
        .copy{
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            img{
                padding: 15px;
                width: 250px;
            }
        }
    }
}