.business{
    display: flex;
    margin: 50px auto;
    .grafic{
        text-align: center;
        h2{
            font-weight: bold;
            font-size: 25px;
        }
        img{
            width: auto;
            height: 350px;
        }
        .valores{
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                padding-left: 20px;
                span{
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                    border-radius: 50% ;
                   color: transparent;
                    }
                
            }
        }
    }
}

@media only screen and (max-width:768px){
    .business{
       flex-direction: column;
       .grafic{
           h2{
               font-size: 20px;
               width: 70%;
           }
           img{
            width: auto;
            height: 200px;
        }
       }
    }
}