
.investor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    div{
        .quarter{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            .title{
                display: flex;
            }
            .files{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start; 
                img{
                    width: 30px;
                }
                a{
                    color: #909090;
                    text-decoration: none;
                    font-size: 18px;
                    &:hover{
                        color: #000;
                    }
                }
            }
        }
    }
    h2{
        font-weight: bold;
        padding-left: 20px;
    }
    .unit{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        a{
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .block{
  width: 250px;
  height: 150px;
 padding: 20px;
  color: #fff;
  text-decoration: none;
  &:hover{
      opacity: .8;
  }
    }
}
.adeco{
    background-color: #699533;
    color: #ffffff;
    h2{
        font-weight: bold;
        text-align: center;
    }
    .invest{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 10px;
        
        > div{
            padding: 15px;
            .hidden{
                opacity: 0;
                visibility: hidden;
                font-size: 12px;
                padding-top: 15px;
            }
        }
        .blog{
            display: flex;
            flex-direction: column;
           
           position: relative;
           &::after{
               content: '';
               width: 1px;
               height: 300px;
               background-color: #fff;
               position: absolute;
               right: 0;
           }
            .title{
                width: 80%;
            }
            img{
                width: 60px;
                height: auto;
                position: absolute;
                bottom: 0;
            }
         
            &:hover .hidden{
                opacity: 1;
                visibility: visible;
                transition: all ease 1.2s;
                width: 250px;
                height: 100px;
                
            }
            &:hover span{
                font-size: 30px;
                transition: all ease .5s;
            }
            &:hover .title{
                font-size: 20px;
                transition: all ease .5s;
            }
            &:hover img{
                opacity: 0;
                visibility: hidden;
            }
        }
    }
    .agro{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        height: 200px;
        .compromiso{
            display: flex;
            flex-direction: column;
            p{
                padding:1px 0 0  15px;
            }
        }
        img{
            width: 50px;
            opacity: .5;
        }
    }
}

@media only screen and (max-width:768px){
    .investor{
        grid-template-columns: 1fr;
        .unit{
            flex-direction: column;
            a{
                width: 100vw;
            }
        }
    }
    .adeco{
        .invest{
            grid-template-columns: 1fr;
            > div{
                .hidden{
                    opacity: 1;
                    visibility: visible;
                    font-size: 15px;
                }
            }
            .blog{
                width: 100%;
               &::after{
               display: none;               
               }
                .title{
                    width: 80%;
                }
                img{
                  display: none;
                }
            }
        }
        .agro{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 60px;
            p{
                padding:15px 0 0  15px;
            }
            img{
                width: 70px;
                opacity: .5;
            }
        }
    }
}