.legal{
    h4{
        color: #005838;
        margin-top: 20px;
    }
    p{
        color: #909090;
        padding:20px 0;
        i{
           color: #005838;
           padding-right: 5px;
        }
    }
    .txt{
        padding:0px 0 20px 0;
        color:#005838;
        font-size:22px
    }
}