.nav{
    background-color: #ffffff;
    .navigation{
        display: flex;
        justify-content: space-between;
       
        .logo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                width: 200px;
            }
            .fa-bars{
                background-color: #8ec549;
                color: rgba(0, 0, 0, .5);
                padding: 20px;
                font-size: 20px;
                cursor: pointer;
                display: none;
            }
        }
        .menu{
            display: flex;
            li{
                list-style: none;
                cursor: pointer;
               &:hover{
                   opacity: .7;
               }
                a{
                    color: #ffffff;
                    display: block;
                    padding: 30px;
                    &:hover{
                        text-decoration: none;
                    }
                    i{opacity: 0;}
                }
                .company{
                    .ocultar{
                     display: none;
                     
                    }
                }
            }
        }
    }
}
.ocultar{
    display: none;
}
.sub{
    background-color: #f8f9fa;
    ul{
        display: flex;
        justify-content: space-between;
        li{
            list-style: none;
            padding: 20px;
            a{
                color: #999;
                
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}
/*******************queries**************************/
@media only screen and (max-width:768px){
    .nav{
        .navigation{
            flex-direction: column;
            .logo{
                .fa-bars{
                    display: block;
                    position: relative;
                }
            }
            .menu{
                flex-direction: column;
                li{
                    width: 100%;
                    a{
                       width: 350px;
                       i{opacity: 1;}
                    }
                }
            }
            .ocultarmenu{
               display: none;
            }
        }
    }
    .sub{
        display: none;
    }
}