.number{
    background-color: #28855c;
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                span{
                    color: #ffffff;
                    font-size: 17px;
                    font-weight: bold;
                    text-align: center;
                    padding-top: 15px;
                }
                span.numero{
                    font-size: 40px;
                }
                img{
                width: 100px;
                height: 100px;
            }
        }
    } 
}
@media only screen and (max-width:768px){
    .number{
        .content{
          flex-direction: column;
                div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    span{
                        color: #ffffff;
                        font-size: 17px;
                        font-weight: bold;
                        text-align: center;
                        padding-top: 15px;
                    }
                    span.numero{
                        font-size: 40px;
                    }
                    img{
                    width: 100px;
                    height: 100px;
                }
            }
        } 
    }
}