.officers{
    th{
        color: #909090;
        font-weight: bold;
    }
    td{
        color: #909090;
    }
    h3{
        color: #005838;
        margin: 30px 0;
    }
    p{
        color: #909090;
        i{
            font-size: 5px;
            color: #005838;
            padding-right: 5px;
        }
    }
}