.crops{
    height: 50vh;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    h3{
        font-weight: bold;
        font-size: 30px;
    }
    div{
        p{
            width: 50%;
            font-size: 20px;
            position: relative;
            right: -80px;
        }
    }
}

@media only screen and (max-width:768px){
    .crops{
        grid-template-columns: 1fr;
        gap: 0px;
        div{
            p{
                width: 90%;
                right: 0;
                font-size: 15px;
            }
        }
    }
}