.img-directors{
    h2{
        a{
            text-decoration: underline;
            color: #ffffff;
        }
    }
    .statements{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        .financial{
            background-color: rgba(27, 60, 41, .8);
            height: 50%;
            width: 400px;
            a{
            }
        }
        .release{
            background-color: rgba(109, 133, 58,.8);
            height: 50%;
            width: 400px;
            a{
            }
        }
        div{
            a{
                color: #ffffff;
                font-size: 24px;
                padding: 15px;
                display: flex;
                align-items: flex-end;
                margin-top: 80px;
                font-weight: bold;
                position: relative;
                &::before{
                    content: '';
                    width: 90px;
                    background-color: #ffffff;
                    position: absolute;
                    bottom: 10px;
                    height: 3px;
                }
            }
    }
    }
}

.quartely{
    display: flex;
    .content{
        p{
            color: #5e8a2d;
            font-size: 20px;
            font-style: italic;
            font-weight: 500;
        }
        h4{
            color: #646464;
            font-size: 25px;
            font-weight: bold;
        }
        span{
            color: #646464;
        }

    }
    img{
        width: 40%;
        height: auto;
    }
}
.filings{
    display: flex;
    justify-content: space-between;
    h2{
        font-weight: bold;
        color: #999;
    }
}
.cvm{
    display: flex;
    justify-content: space-between;
    h2{
        font-weight: bold;
        color: #999;
    }
}

td{
    color: rgba(0, 0, 0, .8);
    a{
        color: rgba(0, 0, 0, .8);
        &:hover{
            text-decoration: none;
           filter: brightness(0);
    
        }
    }
}
thead{
    th{
        color: #000;
    }
}

#years{
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: right;
}

#anio{
  font-size: 24px;
  border-bottom: 2px solid grey;
}

.listado_anios{
  border: none;
  margin-right: 5px;
  padding: 5px;
}
.quarSelected{
    background-color: #3ead90;
    border-bottom: 2px solid #6ef0ce !important;
    h4{
        color: #ffffff !important;
    }
    .link-quarte{
        color: #ffffff !important;
    }
}

.earnings{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;

    .quar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        div{
            img{
                width: 25px;
            }
            a{
                color: #000;
                &:hover{
                    text-decoration: none;
                    background-color: #999;
                    color: #ffffff;
                }
            }
        }
        
    }

    & .group_quar{
      border: 1px solid #d6d6d6;
      padding: 20px;
      margin-bottom: 20px;
      border-bottom: 2px solid grey;
      max-width: 300px;
    }
    & .ocultar{
        display: none;
    }
}

@media only screen and (max-width:768px){
    .quartely{
     flex-direction: column;
    }
    .earnings{
        grid-template-columns: 1fr;
    }
}