.strategy{
    color:#005838;
    p{
        font-size: 20px;
        margin:20px
    }
    .list{
        p{
            color: rgba(0, 0, 0, .7);
            font-size: 15px;
            i{
                color: #005838;
                font-size: 5px;
                margin-bottom: 5px ;
            }
        }
    }
}
.img-strategy{
    height: 50vh;
    div{
       margin-top:0;      
         h2{
            font-weight: bold;
            color: #ffffff;
        }
    }
  
}
@media only screen and (max-width:768px){
    .strategy{
        p{
            font-size: 15px;
        }
        .list{
            p{
                font-size: 12px;
            }
        }
    }
}

