.contact{
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   div{
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
    p{
        color: #fff;
        text-align: center;
        font-size: 20px;
        width: 40%;
        margin-bottom: 20px;
    }
   } 
    .btn{
        background-color: transparent;
        border:2px solid #fff;
        color: #fff;
        width: 250px;
        padding: 10px;
        border-radius: 0px;
    }
    input{
        width: 250px;
        padding: 10px;
        margin: 0 10px;
        &:focus{
            outline: none;
        }
        &::placeholder{
            text-align: center;
        }
    }
}
@media only screen and (max-width:768px){
.contact{
 height: 70vh;
   div{
   
    p{
       width: 90%;
    }
   } 
    .btn{
     width: 90%;
     margin: 0 10px;
    }
    input{
       width: 90%;
       margin-bottom: 10px;
    }
}

}