body {
  font-size: 0.875rem;
  font-family: "Segoe UI";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.back-link {
  font-weight: bold;
  font-size: 1rem;
}

.error-box {
  padding: 10px 0;
}

.form-strong-labels label {
  font-weight: bold;
}

.icon-hover:hover {
  fill: #0d6efd;
}

.login {
  height: 100%;
  background-color: #2d9067;
}
.login #app {
  height: 100%;
}

.table-abm a {
  color: #000;
}

/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link.active {
  font-weight: bold;
  background-color: #EEE;
  color: #005837;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */
.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px #ffffff40;
}

@media (min-width: 768px) {
  .form-row {
    width: 50%;
    float: left;
  }
}
@media (max-width: 767.99999px) {
  .form-row {
    width: 100%;
  }
}

.img-thumb {
  width: 5vw;
  height: auto;
  float: left;
}

form button {
  width: 100%;
}

/* background-color: red !important;  */
.custom-file-input {
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0;
}

.thumb-container {
  position: relative;
}

.thunb-preview {
  text-align: center;
}
.thunb-preview img {
  width: 50%;
  margin: 0 auto;
}

.thumb-change-bg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}

.thumb-change {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  text-align: center;
  opacity: 0;
}

.thumb-change label {
  margin: auto;
}